@model KWA_Djole.Business.Dtos.HomeDto
@using KWA_Djole.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject KWA_Djole.Business.Interfaces.IShoppingService shoppingService
@{
    ViewData["Title"] = "Home Page";
    var isAuth = User.Identity.IsAuthenticated;
    var cartItems = 0;
}
@if (isAuth)
{
    var user = await UserManager.GetUserAsync(User);
    <div class="display-4">Dobrodošao/la @user.FirstName</div>
    cartItems = await shoppingService.GetCustomerCartCount(user.Id);
}
else
{
    <div class="display-4">Dobrodošli</div>
}
<div class="col-12 d-flex flex-row gap-4 mt-2" id="comicsDiv">
    @foreach (var item in Model.ShoppingItems)
    {
        @await Html.PartialAsync("_ShoppingItem", item)
    }
</div>
<input type="hidden" value="@cartItems" id="cartItemCount" />
@section Scripts{
    <script type="text/javascript">
        function GoToProductDetails(id) {
            window.location.href = "/Home/ProductDetails/" + id;
        }
    </script>
}