@model KWA_Djole.Business.Dtos.HomeDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="display-4">Dobrodošli</div>
<div class="col-12 d-flex flex-row gap-4">
    @foreach (var item in Model.ShoppingItems)
    {
        @await Html.PartialAsync("_ShoppingItem", item)
    }
</div>
@section Scripts{
    <script type="text/javascript">
        function GoToProductDetails(id) {
            window.location.href = "/Home/ProductDetails/" + id;
        }
    </script>
}