@model KWA_Djole.Business.Dtos.RegisterDto
<div class="col-12 d-flex justify-content-center">
    <div class="card col-6 mt-3">
        <div class="card-body d-flex flex-column align-items-center">
            <div class="display-4">
                Registracija
            </div>
            <form id="registerForm" class="mt-4">
                <div>
                    <div class="input-group mb-3">
                        <input name="Email" type="email" class="form-control" placeholder="Email*" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input name="FirstName" type="text" class="form-control" placeholder="Ime*" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input name="LastName" type="text" class="form-control" placeholder="Prezime*" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <select id="genreSelect" class="form-select js-example-placeholder-multiple js-states form-control" name="Genres" multiple>
                            @foreach (var item in Model.Genres)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-book"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input name="PhoneNumber" type="text" class="form-control" placeholder="Broj telefona*" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input name="Address" type="text" class="form-control" placeholder="Adresa*" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-map-marker"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input name="Password" type="password" class="form-control" placeholder="Šifra*" required minLength="8">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input name="ConfirmPassword" type="password" class="form-control" placeholder="Potvrdi šifru*" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Registruj se</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#registerForm').validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent().parent())
                }
            })
            $('.select2-search__field').css('width', '250px');
            $('#genreSelect').select2({
                allowClear: true,
                theme: 'classic',
                placeholder: 'Izaberite žanrove'
            })
            $('#registerForm').submit(function(e) {
                e.preventDefault()
                if($('#registerForm').valid() == false) {
                    return
                }
                var data = $('#registerForm').serialize()
                $.ajax({
                    url: '/Home/Register',
                    type: 'POST',
                    data: data,
                    success: function(response) {
                        if (response.success === true) {
                            AlertSuccess(undefined, 'Uspešna registracija', function () { window.location.href = '/Home/Login' })
                        } else {
                            $.alert({
                                title: 'Greška',
                                content: response.message,
                                type: 'red'
                            })
                        }
                    }
                })
            })
        })
    </script>
}